{% extends 'iut/base.html' %}
{% load static %}

{% block content %}



<br><br><br>
<main class="py-5"> <div class="container text-center my-5"> <h1 class="mb-4 text-primary">DIFFÉRENTES FORMATIONS DE L’INSTITUT UNIVERSITAIRE DE TECHNOLOGIE</h1>

<div class="row">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Licence Professionnelle</h5>
        <p class="card-text">
          Licence cours du jour et la formation dure trois (03) ans (Licence). <br>
          Il existe cinq (5) filières : <br>
          - Gestion des Entreprises (GE) <br>
          - Gestion des Banques (GB) <br>
          - Gestion Commerciale (GC) <br>
          - Informatique de Gestion (IG) <br>
          - Gestion des transports et logistique (GTL) <br>
          Les conditions d'accès en Licence: BAC Série C,D et G
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Masters Professionnels</h5>
        <p class="card-text">
          Les filières disponibles en Master sont: <br>
          - Master en Comptabilité Contrôle et Audit (CCA) <br>
          - Master en Gestion des Transports et Logistiques (GTL) <br>
          - Master en Administration et Ingénierie des Ressources Humaines (AIRH) <br>
          - Master en Gestion et Expertise Commerciale (GEC) <br>
          - Master en Génie Logiciel et Intégration d’Application (GLIA) <br>
          - Master en Système d’Information et d’Aide à la Décision (SIAD) <br>
          Conditions d'accès en Master : Licence Professionnelle en Gestion ou en Economie
        </p>
      </div>
    </div>
  </div>
</div>


    <h1 class="mt-5 mb-4 text-primary">DÉBOUCHÉS POUR L’APPRENANT</h1>

    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item border-primary">
                    <h5 class="text-primary">Gestion des Entreprises</h5>
                    <p>
                        Cabinets comptables, services de comptabilité des entreprises, banque, assurances, administrations, petites, moyennes et grandes entreprises, auto emploi.
                    </p>
                </li>

                <li class="list-group-item border-primary">
                    <h5 class="text-primary">Gestion des Banques</h5>
                    <p>
                        Organismes financiers ou de gestion (établissement de crédits, entreprises commerciales de banque).
                    </p>
                </li>

                <li class="list-group-item border-primary">
                    <h5 class="text-primary">Gestion Commerciale</h5>
                    <p>
                        Entreprises commerciales ou services commerciaux de tout type d’entreprise, services de logistiques internationale, entreprise d’export, sociétés de transit et de manutention, banque, agence de communication, grandes entreprises de représentant commercial de chef de rayon dans le centre commercial (supermarché), d’attaché commercial de chef de produit, chargé des relations publiques, assistant de communication interne diffusant des informations à l’intérieur de l’entreprise.
                    </p>
                </li>
            </ul>
        </div>

        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item border-primary">
                    <h5 class="text-primary">Informatique de Gestion</h5>
                    <p>
                        Centre informatique, banque, entreprise de prestation de service, éditeur de logiciels, grandes entreprises informatisées, poste d’analyse programmeur, chef de programme informatique, d’ingénieur logiciel, administrateur de réseau.
                    </p>
                </li>

                <li class="list-group-item border-primary">
                    <h5 class="text-primary">Gestion des Transports et Logistique</h5>
                    <p>
                        Banque, Société d’assurance et administrations, petites et moyennes entreprises, grandes entreprises, entreprises de transport et de Gestion ferroviaire, service chargé de la logistique au niveau des entreprises, des administrations, poste d’agent comptable dans les compagnies aériennes, d’agent de fret dans les aéroports, de techniciens des études et l’exploitation de l’avion civile.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

</main>

{% endblock %}